* {
    padding: 0;
    margin: 0;
}

body {
    /*background-color: #818a8d;*/
    background: radial-gradient(#818a8d, grey, #1ebeb9);
    margin: 0;
    font-family: Optima, sans-serif;
}

.fixed-width {
    margin: 0 auto;
    width: 1000px;
    height: 100vh;
}

.navbar {
    background: black;
    height: 50px;
    width: 100%;
    margin-bottom: 10px;
}

.nav-item {
    float: left;
    margin-left: 20px;
    margin-top: 4px;
}

#song, #artist, #submit, button{
    width: 220px;
    height: 35px;
    font-size: 2em;
    font-family: Optima, sans-serif;
    margin-left: 18px;
}


button {
    font-size: 1em;
    margin: 5px 5px 5px 37px;
}

.result-active {
    color: black;
}


.results {
    width: 100%;

}

.result-tab {
    height: 50px;
    width: 47.5%;
    color: white;
    margin: 1px 1%;
    background-color: black;
    border: 1px solid #11e32a;
    overflow: hidden;
    display: inline-block;
}


.result-tab img {
    padding: 8px;
}

.result-tab p {
    color: white;
    position: relative;
    top: -40px;
    left: 53px;
}

.clicked-tab {
    background-color: #3f423d;
}


.hover-tab {
    background-color: #3f423d;
    cursor: pointer;
}

.result-tab .right {
    float: right;
    /*background-color: blue;*/

}

#guide {
    font-size: 2.5em;
    text-align: center;
    margin-top: 30%;
}

.error {
    font-size: 2.5em;
    display: none;
    text-align: center;
}

.player {
    display: none;
    border: 2px solid black;
    height: 60px;
    width: 400px;
    margin: 0 auto;
}

.player-header {
    height: 50px;
    width: 100px;
    border: 2px solid black;
    margin: 0 auto;
    height: 50px;
    width: 400px;
    text-align: center;
    display: none;
    position: relative;
}

.player iframe {
    margin: 0 auto;
    width: 400px;
    height: 60px;

}

.green-heart, .red-heart {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 30px;
    cursor: pointer;
}

.red-heart {
    display: none;
}

.my-playlist {
    font-size: 2.5em;
    text-align: center;
    display: none;
}

.songs li {
    font-size: .6em;
    text-align: left;
    list-style: none;
    margin: 10px;
    cursor: pointer;
}
